pwtk.mtx filter=lfs diff=lfs merge=lfs -text
s3dkt3ms.mtx filter=lfs diff=lfs merge=lfs -text
s3dkt3m2.mtx filter=lfs diff=lfs merge=lfs -text
*.mtx filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text